.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: #f3f3f3;
}
.home-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-image {
  width: 45pt;
  object-fit: cover;
}
.home-text {
  font-size: 28px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 600;
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.home-link {
  font-size: 18px;
  transition: 0.3s;
}
.home-link:hover {
  text-decoration: underline;
}
.home-container3 {
  gap: var(--dl-space-space-fourunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.home-image1 {
  width: 100%;
  max-width: 300pt;
  object-fit: cover;
}
.home-container4 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 450pt;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text1 {
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
}
.home-container5 {
  gap: var(--dl-space-space-fourunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.home-container6 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 350pt;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text3 {
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
}
.home-image2 {
  width: 100%;
  max-width: 400pt;
  object-fit: cover;
}
.home-container7 {
  gap: var(--dl-space-space-fourunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.home-image3 {
  width: 100%;
  max-width: 350pt;
  object-fit: cover;
}
.home-container8 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 400pt;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text5 {
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
}
.home-container09 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.home-container10 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text07 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.home-link1 {
  text-decoration: none;
}
.home-text08 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.home-form {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  max-width: 300pt;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-textinput {
  width: 100%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-gray-900);
}
.home-textinput1 {
  width: 100%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-gray-900);
}
.home-textarea {
  width: 100%;
  min-height: 100pt;
  border-width: 0px;
  padding-left: 1rem;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 1rem;
  background-color: var(--dl-color-gray-900);
}
.home-button {
  width: 100%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #FFC681;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-text09 {
  color: var(--dl-color-gray-700);
  font-size: 14px;
}
@media(max-width: 991px) {
  .home-container03 {
    gap: var(--dl-space-space-twounits);
  }
  .home-container05 {
    gap: var(--dl-space-space-twounits);
  }
  .home-container06 {
    max-width: 400pt;
  }
  .home-container07 {
    gap: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .home-container09 {
    gap: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-container10 {
    align-items: center;
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text09 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-text09 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}